{% extends 'UserBase.html.twig' %}
{% block title %}Venue Booking App{% endblock %}
{% block heading %}Venue Booking App{% endblock %}
{% block body %}    

<br><br><br><br><br><br>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-0"></div>
            <div class="col-md-12 box-black text-center">
                View All Booking 
            </div>
            <div class="col-md-0"></div>

        </div>

        <div class="row">
            <div class="col-md-0"></div>
            <div class="col-md-12 jumbotron">
                <div class="responsive">
                    <table class="table table-striped table-hover text-left table-bordered">
                        <tr class="table-primary">
                            <th>ID</th><th>Firstname</th><th>Lastname</th><th>Email</th>
                            <th>Mobile</th><th>Booking Date</th><th>Booking Time</th><th>Venue</th><th>Photo</th><th colspan='2' style="text-align:center;">Manage</th>
                        </tr>
                       {% for row in records %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.first_name }}</td>
                                <td>{{ row.last_name }}</td>
                                <td>{{ row.email }}</td>
                                <td>{{ row.mobile }}</td>
                                <td>{{ row.booking_date }}</td>
                                <td>{{ row.booking_time }}</td>
                                <td>{{ row.venue }}</td>
                                <td><img src="static/photos/{{ row.image_filename }}" width="100" height="100" alt="{{ row.image_filename }}"></td>
                                <td><a href="?action=editBooking&id={{ row.id }}" type="button" class="btn btn-primary">Edit</a></td>
                                <td><a href="?action=deleteBooking&id={{ row.id }}&image_filename={{ row.image_filename }}" type="button" class="btn btn-danger">Delete</a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
         </div>
            <div class="col-md-0"></div>
        </div>

    </div>
                        <br><br><br><br><br><br>

{% endblock %}


