{% extends 'base.html.twig' %}

{% block title %}
   Sign Up
   {% endblock %}
   
   {% block heading %}Sign Up
   {% endblock %}
   
   
   {% block body %}

    
<br><br><br><br><br><br>
    

        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 box-black text-center form-title-font-color">
                    Sign-up Form
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 jumbotron">
                    <form action="?action=signUp" method="post" novalidate="true" enctype="multipart/form-data">
                        
                        
                        
                    <div class="form-group"> 
                    <label for="first_name">
                        Firstname:
                        <small class="text-danger"/>
                        {% if errors.first_name is defined %}
                            {{ errors.first_name }}
                        {% endif %}
                    </small>
                    </label>
                    <input type="text" value="{{ first_name }}" class="form-control" placeholder="Enter firstname" name="first_name">
                    </div>
                    
                    <div class="form-group"> 
                    <label for="last_name">
                        Lastname:
                        <small class="text-danger"/>
                        {% if errors.last_name is defined %}
                            {{ errors.last_name }}
                        {% endif %}
                    </small>
                    </label>
                    <input type="text" value="{{ last_name }}" class="form-control" placeholder="Enter lastname" name="last_name">
                    </div>

                    
                        
                    <div class="form-group">
                        <label for="email">Email:
                        <small class="text-danger"/>
                               {% if errors.email is defined %}
                            {{ errors.email }}
                        {% endif %}
                    </small>
                        </label>
                        <input type="text" value="{{ email }}" class="form-control" placeholder="Enter email" name="email">
                    </div>
                    
                    <div class="form-group">
                        <label for="password">Password:
                        <small class="text-danger"/>
                               {% if errors.password is defined %}
                            {{ errors.password }}
                        {% endif %}
                    </small>
                        </label>
                        <input type="password" value="{{ password }}" class="form-control" placeholder="Enter password" name="password">
                    </div>
                    
                        
                    <div class="form-group"> 
                    <label for="phone">
                        Mobile:
                        <small class="text-danger"/>
                        {% if errors.phone is defined %}
                            {{ errors.phone }}
                        {% endif %}
                    </small>
                    </label>
                    <input type="text" value="{{ phone }}" class="form-control" placeholder="Enter phone number" name="phone">
                    </div>    
                    
                    
                    
                    <div class="form-group"> 
                    <label for="create_date">
                        Create Date:
                        <small class="text-danger"/>
                        {% if errors.create_date is defined %}
                            {{ errors.create_date }}
                        {% endif %}
                    </small>
                    </label>
                    <input type="date" value="{{ create_date }}" class="form-control" placeholder="yyyy-mm-dd" name="create_date">
                    </div>
                                     
                    
                    <div class="form-group"> 
                    <label for="street">
                        Street:
                        <small class="text-danger"/>
                        {% if errors.street is defined %}
                            {{ errors.street }}
                        {% endif %}
                    </small>
                    </label>
                    <input type="text" value="{{ street }}" class="form-control" placeholder="Enter street" name="street">
                    </div>
                    
                    
                    <div class="form-group"> 
                    <label for="city">
                        City:
                        <small class="text-danger"/>
                        {% if errors.city is defined %}
                            {{ errors.city }}
                        {% endif %}
                    </small>
                    </label>
                    <input type="text" value="{{ city }}" class="form-control" placeholder="Enter city" name="city">
                    </div>
                    
                    
                    <div class="form-group"> 
                    <label for="zip">
                        Zip code:
                        <small class="text-danger"/>
                        {% if errors.zip is defined %}
                            {{ errors.zip }}
                        {% endif %}
                    </small>
                    </label>
                    <input type="text" value="{{ zip }}" class="form-control" placeholder="Enter zip" name="zip">
                    </div>
                    
                    
                    <div class="form-group"> 
                    <label for="state">
                        State:
                        <small class="text-danger"/>
                        {% if errors.state is defined %}
                            {{ errors.state }}
                        {% endif %}
                    </small>
                    </label>
                    <input type="text" value="{{ state }}" class="form-control" placeholder="Enter state" name="state">
                    </div>
                    
                    
                    <div class="form-group"> 
                    <label for="phone_type">
                        Phone Type:
                        <small class="text-danger"/>
                        {% if errors.phone_type is defined %}
                            {{ errors.phone_type }}
                        {% endif %}
                    </small>
                    </label>
                    <input type="text" value="{{ phone_type }}" class="form-control" placeholder="Enter phone type" name="phone_type">
                    </div>
                        
                      
                        
                        
                        
                        <button type="submit" class="btn btn-block btn-primary" name="submit">Submit</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
<br><br><br><br><br><br>



   

       
       
       
         {% endblock %}

